extends layout

block content
  h1 Event Planner

  if user
    p#user-info Hello, #{user.data && user.data.nickname ? user.data.nickname : user.firstName}!
    p#user-info= "User roles: " + user.registrations[0].roles

  //p Welcome to #{title}

  // Event planner main content
  div#welcome-section
    h2 Plan Your Next Event
    p Organize your events and invite guests with ease.

    if user && user.registrations && (user.registrations[0].roles.includes('Admin') || user.registrations[0].roles.includes('Editor'))
      a(href="/create-event" class="btn btn-primary large-btn") Create New Event
    else if user && user.registrations && user.registrations[0].roles.includes('Viewer')
      p You have viewing access only. You cannot create events.
    else
      p You need to log in to view event details.

  // Upcoming Events Section
  div#event-section
    h2 Upcoming Events
    if events && events.length > 0
      div.event-grid
        each event in events
          div.card
            h4#event-title #{event.name}
            p Date: #{event.date}
            if user && user.registrations && (user.registrations[0].roles.includes('Admin') || user.registrations[0].roles.includes('Editor') || user.registrations[0].roles.includes('Viewer'))
              a(href=`/events/${event.id}` class='btn btn-secondary') View Details
    else
      p No events available. Start by creating your first event!
